<h1> Ruby Projects </h1>

<div id = "ruby_projects">
	<ul>
		<li><%= link_to "test 1", '/show', class: "single_project"%></li>
		<li> Test 2 </li>
		<li> Test 3 </li>
		<li> Test 4 </li>
		<li> Test 5 </li>
	</ul>
</div>