<h1> Ruby Projects </h1>

<div id = "ruby_projects">
	<ul class= "project_ul">
		<% if @projects %>
			<% @projects.each do |project| %>
				<li><%=link_to "#{project.name}", ruby_project_path(project.id), class: "single_project" %></li>
			<% end %>
		<% end %>
	</ul>
</div>