<div class = 'container'>
	<!-- Navbar starts -->
	<div class = "nav_bar">
		<ul>
			<li>
				<p> Alex Froelich </p>
			</li> 
		</ul>
	</div>
	<!-- Navbar Ends -->
	<!-- Tile Div Begins -->
	<div class = "link_tiles">
		<!-- Top Row of Tiles Begin -->
		<section class = "link_tiles_top">
			<!-- Resume Nested Divs Begin -->
			<div class = "parent resume_red">
				<p> Projects </p>
				<div class = "child resume_white">

				</div>
			</div>
			<!-- Resume Nested Divs End -->
			<!-- Unknown Nested Divs Begin -->
			<div class = "parent unknown_red">
				<p> Resume </p>
				<div class = "child unknown_white">

				</div>
			</div>
			<!-- Unknown Nested Divs End -->
		</section>
		<!-- Top Row of Tiles End-->
		<!-- Bottom Row of Tiles Begin -->
		<section class = "link_tiles_bottom">
			<div class = "parent git_red">
				<p> Contact Me </p>
				<div class = "child git_white">
				</div>
			</div>
			<!-- <div class = "git_white"></div> -->
			<div class = "parent about_me_red">
				<p> About Me </p>
				<div class = "child about_me_white">
				</div>
			</div>
		</section>
		<!-- Bottom Row of Tiles End -->
	</div>
	<!-- Tile Div Ends -->
	<!-- About_Me_Header Begins -->
	<div class = "about_me_header">
		<p> about me </p>
	</div>
	<!-- About_Me_Header Ends -->
	<!-- About_Me_Div Begins -->
	<div class = "about_me_div">


	</div>
	<!-- About_Me_Div Ends -->
	<!-- Current_Projects Header Starts -->
	<div class = "current_projects_header">
		<p> current and past projects </p>
	</div>
	<!-- Current_Projects Header Ends -->
	<!-- Current_Projects Div Starts -->
	<div class = "current_projects_div">
			<div class = "project_row_keeper">
		<div class = "ruby_div" >
			<p><%=link_to "Ruby", '/show', class: "projects_link", value: "ruby_projects" %></p>
		</div>
		
		<div class = "ruby_on_rails_div">
			<p><%=link_to "Ruby on Rails", '/show', class: "projects_link", value: "ruby_on_rails_projects" %></p>
		</div>

		
		<div class = "javaScript_div">
			<p><%=link_to "javaScript", '/show', class: "projects_link", value: "ruby_projects" %></p>
		</div>
			</div>
		<div class = "projects_list"></div>

	</div>
	<!-- Current_Projects Div Ends-->
	<!-- Resume Header Starts -->
	<div class = "resume_header">
		<p> resume and social media </p>
	</div>
	<!-- Resume Header Ends -->
	<!-- Resume Div Starts -->
	<div class = "resume_div">

	</div>
	<!-- Resume Div Ends-->
	<!-- Contact Header Starts -->
	<div class = "contact_header">
		<p> contact me </p>
	</div>
	<!-- Contact Header Ends -->
	<!-- Contact Div Starts -->
	<div class = "contact_div">

	</div>
	<!-- Contact Div Ends-->
</div>
<!-- Container Closes -->