<div class = 'container'>
	<!-- Navbar starts -->
	<div class = "nav_bar">
		<ul>
			<li>
				<p> Alex Froelich </p>
			</li> 
		</ul>
	</div>
	<!-- Navbar Ends -->
	<!-- Tile Div Begins -->
	<div class = "link_tiles">
		<!-- Top Row of Tiles Begin -->
		<section class = "link_tiles_top">
			<!-- Resume Nested Divs Begin -->
			<div class = "resume_red">
				<div class = "resume_white">

				</div>
			</div>
			<!-- Resume Nested Divs End -->
			<!-- Unknown Nested Divs Begin -->
			<div class = "unknown_red">
				<div class = "unknown_white">

				</div>
			</div>
			<!-- Unknown Nested Divs End -->
		</section>
		<!-- Top Row of Tiles End-->
		<!-- Bottom Row of Tiles Begin -->
		<section class = "link_tiles_bottom">
			<div class = "git_red">
				<div class = "git_white">
				</div>
			</div>
			<!-- <div class = "git_white"></div> -->
			<div class = "about_me_red">
				<div class = "about_me_white">
				</div>
			</div>
		</section>
		<!-- Bottom Row of Tiles End -->
	</div>
	<!-- Tile Div Ends -->




</div>