<h1> JavaScript Projects </h1>

<div id = "javaScript_projects">
		<ul>
		<% @projects.each do |project| %>
			<li><%=link_to "#{project.name}", javascript_project_path(project.id), class: "single_project" %></li>
		<% end %>
	</ul>
</div>