body { padding: 0 1em; margin: 0; background-color: #FAFAFA; }
footer {
			padding-top: 10px;
			height: 20px;
			background-color: #E7E4D3;
}
.container { width: 100%; max-width: $max-width; margin: 0 auto; padding: 0; }

// Elements acting like rows 
footer,
.flash,
#nav_bar,
.link_tiles_top,
.link_tiles_bottom,
#about_me_header,
 #current_projects_header,
#resume_header,
#contact_header,
.about_me_text,
.project_row_keeper,
.projects_list,
.project_description,
.me_img_wrapper,
.resume_row_keeper,
iframe,	
.submit,
.admin,
.admin_container{
	@include row;
}

// Global SASS

button{
	float: right;
	margin-right: 20px;
	margin-top: 7px;
	font-family: $font-family;
	background-color: #E7E4D3;
	color: #206BA4;
	border-color: #E7E4D3;
	border-radius: 2px 2px 2px 2px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
}

.flash {
	width: columns(4);
	font-family: $font-family;
	background-color: #C0C0C0;
	color: #206BA4;
	z-index: 1;
	text-align: center;
}

	ul{
	display: inline; 
	list-style-type: none;
	}


#nav_bar li{
	top: 25px;
	left: 15px;
	float: left;	
	display: inline; 
	position: relative;
	list-style-type: none;
	font-size: 1.5em;
	padding-right: 9px;
}

p{
	color: #206BA4;
	font-family: $font-family;
}
span{
	position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}
iframe{
	width: 75%;
	margin-left: 150px;
}
#nav_bar p{
	margin: 0%;
	padding-left: 0.5em;
	text-align: center;
}

#nav_bar{
	color: #206BA4;
	width: columns(6); 
	height: 105px;
	font-family: $font-family;
	font-size: 1.5em;
	background-color: #E7E4D3;
	text-align: center;
	border-width: 5px;
	border-color: #206BA4;
	border-radius: 2px 2px 2px 2px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	

}

.link_tiles{
	height: $vertical-measure * 20;
	border-width: medium;
  padding: 5em 1em 5em 1em; 
  background-color: #fff;
}

	.link_tiles_top{
		// padding-bottom: 111.3px;

//  ***************** RESUME TILE ********************************
		.resume_red p{
	 	display: none;
    position: absolute;
    margin: 0px;
   	padding: 0px;
   	font: $font-family;
   	color: #206BA4;
   	margin-top: 5px;
}
	
		.resume_red{ 
			@include nesting;
			margin-left: 0px;
			margin-right: 180px;
			background: #E7E4D3;
			display: block;
			width: columns(1);
			height: 127.5px;
			padding: 10px;
					border: 1px #E7E4D3;
		   		border-radius: 10px 10px 10px 10px;
		   		box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
		   		-o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
		   		-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
		  	 -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);


		.resume_white{
			// margin-top: 53.75px;
			background: #fff;
			background-image: url("computer-sketch2.png");
			background-position: center; 
   		background-repeat: no-repeat;
			display: block;
			width: columns(4.445);
			height: 127.5px;
			padding: 10px;
			border-radius: 2px 2px 2px 2px;
			-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
			-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
			box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
			position: relative;
			top: 53.75px;
			left: 105px; 
		}
		}
//  ***************** UKNOWN TILE ********************************
		.unknown_red p{
	 	display: none;
    position: absolute;
    margin: 0px;
   	padding: 0px;
   	font: $font-family;
   	color: #206BA4;
   	margin-top: 5px;
}
			.unknown_red{ 
			@include nesting;
			margin-left: 50px;
			background: #E7E4D3;
			display: block;
			width: columns(1);
			height: 127.5px;
			padding: 10px;
			border: 1px #E7E4D3;
   		border-radius: 10px 10px 10px 10px;
   		box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   		-o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   		-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  	 -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);


		.unknown_white{
			background: #fff;
			background-image: url("resume.png");
			background-position: center; 
   		background-repeat: no-repeat;
			display: block;
			width: columns(4.445);
			height: 127.5px;
			padding: 10px;
			border-radius: 2px 2px 2px 2px;
			-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
			-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
			box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
			position: relative;
			top: 53.75px;
			left: 105px; 
		}
	}



	}

	.link_tiles_bottom {
		margin-top: 111.3px;
//  ***************** GIT TILE ********************************
	.git_red p{
	 	display: none;
    position: absolute;
    margin: 0px;
   	padding: 0px;
   	font: $font-family;
   	color: #206BA4;
   	margin-top: 5px;
}
		.git_red{ 
			@include nesting;
			margin-left: 210px;
			margin-right:180px;	
			background: #E7E4D3;
			display: block;
			width: columns(1);
			height: 127.5px;
			padding: 10px;
			border: 1px #E7E4D3;
   		border-radius: 10px 10px 10px 10px;
   		box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   		-o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   		-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  	 -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);

		.git_white{
			background: #fff;
			background-image: url("mail_web.png");
			background-position: center; 
   		background-repeat: no-repeat;
			display: block;
			width: columns(4.445);
			height: 127.5px;
			padding: 10px;
			border-radius: 2px 2px 2px 2px;
			-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
			-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
			box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
			position: relative;
			top: 53.75px;
			left: 105px;  
			}
		}
		//  ***************** ABOUT ME TILE ********************************
			.about_me_red p{
	 	display: none;
    position: absolute;
    margin: 0px;
   	padding: 0px;
   	font: $font-family;
   	color: #206BA4;
   	margin-top: 5px;
}
			.about_me_red{ 
				margin-right: 105px;
				background: #E7E4D3;
				display: block;
				@include nesting;
				width: columns(1.02);
				height: 127.5px;
				padding: 10px;
				border: 1px #E7E4D3;
	   		border-radius: 10px 10px 10px 10px;
	   		box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	   		-o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	   		-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	  	 -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
		

			.about_me_white{
				background: #fff;
				background-image: url("about_me.png");
				background-position: bottom right; 
   			background-repeat: no-repeat;
				display: block;
				width: columns(4.445);
				height: 127.5px;
				padding: 10px;
				border-radius: 2px 2px 2px 2px;
				-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
				-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
				box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
				position: relative;
				top: 53.75px;
				left: 105px; 
			}
			}

	}
//  ***************** ABOUT ME SECTION ********************************
	#about_me_header{
	color: #206BA4;
	width: columns(6); 
	font-family: $font-family;
	font-size: 1.8em;
	border-width: 5px;
	border-color: #206BA4;
	border-radius: 2px 2px 2px 2px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	}

	#about_me_header p{
	margin: 0%;
	padding-left: 0.5em;
	padding-bottom: 33px;
	padding-top: 33px;
	
	}

	.about_me_div{
		height: $vertical-measure * 20;
	border-width: medium;
  padding: 4em 1em 5em 1em; 
  background-color: #fff;

  .me_img_wrapper{
  	height: 500px;
  	width: 500px;
  	margin-left: 75px;
  	position: absolute;

  }

  .about_me_img{
  	width: columns(2);
  	position: relative;	
  	height: 250px;
  	margin-top: 75px;
  	border-width: 5px;
	border-color: #206BA4;
	border-radius: 2px 2px 2px 2px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
  	 
  }

  .about_me_text{
  	width: columns(2);
  	margin-top: 55px;
  	float: right;
  	text-align: justify;
  	margin-right: 20px;
  	font-size: 1.3em;
  }
	}
//  ***************** CURRENT PROJECTS ********************************

	#current_projects_header{
	color: #206BA4;
	width: columns(6); 
	font-family: $font-family;
	font-size: 1.8em;
	border-width: 5px;
	border-color: #206BA4;
	border-radius: 2px 2px 2px 2px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	}

	#current_projects_header p{
		margin: 0%;
		padding-left: 0.5em;
		padding-bottom: 33px;
		padding-top: 33px;
		}

	.current_projects_div{
		height: $vertical-measure * 20;
		border-width: medium;
	  padding: 5em 1em 5em 1em; 
	  background-color: #fff;


	}


		.ruby_div{
			width: columns(1);
			height: 100px;
			background-color:#EBF4FA;
			margin-left: 115px;
			margin-right: 40px;
			margin-bottom: 50px;
			border: 1px solid #EBF4FA;
   		border-radius: 10px 10px 10px 10px;
   		box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   		-o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   		-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  	 -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);

		}

			.ruby_div p{
		   	font: $font-family;
		   	font-size: 30px;
		   	padding-left: 65px;
		   	color: #206BA4;
		 }

			.ruby_div a:hover{
				color: #C0C0C0;
			}
		.ruby_on_rails_div{
			width: columns(1);
			height: 100px;
			background-color: #EBF4FA;
			margin-right: 40px;
			margin-bottom: 50px;
			border: 1px solid #EBF4FA;
   		border-radius: 10px 10px 10px 10px;
   		box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   		-o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   		-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  	 -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
		}

			.ruby_on_rails_div p{
		    // position: center;
		   	padding-left: 15px;
		   	font: $font-family;
		   	color: #206BA4;
		   	font-size: 30px;
		}
		.ruby_on_rails_div a:hover{
				color: #C0C0C0;
			}
		.javaScript_div{
			width: columns(1);
			height: 100px;
			background-color: #EBF4FA;
			margin-bottom: 40px;
			margin-right: 100px;
			border: 1px solid #EBF4FA;
   		border-radius: 10px 10px 10px 10px;
   		box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   		-o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   		-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  	 -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
		}

			.javaScript_div p{
		    // position: center;
		   	padding-left: 40px;
		   	font: $font-family;
		   	color: #206BA4;
		   	font-size: 30px;

			}

			.javaScript_div a:hover{
				color: #C0C0C0;
			}
		.projects_link{
					width: columns(1);
					text-decoration: none;
					color: #206BA4;
				}


				.projects_list{
					// border-color: #E7E4D3;
					border-width: 2px;		
					height: auto;
					width: columns(2);
					font-family: $font-family;
					text-align: center;
					color: #206BA4;
					background-color: #C0C0C0;
					border: 1px #C0C0C0;
		   		border-radius: 50%;
		   		box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
		   		-o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
		   		-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
		  	 -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
				}

					.projects_list a:link {
						text-decoration:none;
						color: #206BA4;
						font-family: $font-family;
					}
					.projects_list a:visited {
						text-decoration:none;
						color: #206BA4;
						font-family: $font-family;
					}
					.projects_list a:hover {
						color: #BBD9EE;;
					}
				

				.project_description{
					height: auto;
					width: auto;
					margin-left: 250px;
					margin-right: 250px;
					margin-top: 50px;
					font-family: $font-family;
					text-align: center;
					background-color: #F1EFE2;
					color: #206BA4;
					border: 1px #E7E4D3;
		   		border-radius: 10px 10px 10px 10px;
		   		box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
		   		-o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
		   		-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
		  	 -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
			}

				.project{
					text-align: justify;
					padding: 10px ;
				}

				.project p:nth-child(1){
					text-align: center;	
					text-decoration:none;
				}

				.project a:link {
						color: #206BA4;
						font-family: $font-family;
				}

				.project a:nth-of-type(1):hover{
					text-decoration:none;
				}

				// .project p:visited {
				// 		text-decoration:none;
				// 		color: #206BA4;
				// 		font-family: $font-family;
				// 	}
				

				#ruby_projects{
					width: columns(4);
				}
				#ruby_on_rails_projects{
					width: columns(4);
				}
				#javaScript_projects{
					width: columns(4);
				}



// **********************  Start of Resume Div ************************************
	#resume_header{
	color: #206BA4;
	width: columns(6); 
	font-family: $font-family;
	font-size: 1.8em;
	border-width: 5px;
	border-color: #206BA4;
	border-radius: 2px 2px 2px 2px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	}

	#resume_header p{
		margin: 0%;
		padding-left: 0.5em;
		padding-bottom: 33px;
		padding-top: 33px;
		}

	.resume_div{
	height: $vertical-measure * 20;
	border-width: medium;
  padding: 8em 1em 5em 1em; 
  background-color: #fff;
	}



	.linkedin_div{
		width:columns(1);
		margin-left: 250px;
		margin-top: 75px;

	}

	.linkedin_div p{
		margin-left: 18px;
		margin-top: 59px;
	}

	.resume_pdf{
		width:columns(1);
		margin-left:  10px;
	}

	.resume_pdf p{
		margin-left: 75px;
	}


//  ***************** CONTACT SECTION ********************************
	#contact_header{
	color: #206BA4;
	width: columns(6); 
	font-family: $font-family;
	font-size: 1.8em;
	border-width: 5px;
	border-color: #206BA4;
	border-radius: 2px 2px 2px 2px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	}

	#contact_header p{
		margin: 0%;
		padding-left: 0.5em;
		padding-bottom: 33px;
		padding-top: 33px;
		}

	.contact_div{
	height: $vertical-measure * 20;
	border-width: medium;
  padding: 4em 1em 6em 1em; 
  background-color: #fff;
	}

	label{
		color: #206BA4;
		float: left;
		clear: left;
		margin: 11px 20px 0 0;
		width: 95px;
		text-align: right;
		text-shadow: 0px 1px 0px #f2f2f2;
		font-size: 16px;
	}

	input{
		width: 260px;
		height: 35px;
		padding: 5px 20px 0px 20px;
		margin: 0 0 20px 0;
		background: #F1EFE2;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-ms-border-radius: 5px;
		box-shadow: 0px 1px 0px #f2f2f2;
		-moz-box-shadow: 0px 1px 0px #f2f2f2;
		-webkit-box-shadow: 0px 1px 0px #f2f2f2;
		-ms-box-shadow: 0px 1px 0px #f2f2f2;
		font-family: $font-family;
		color: #C0C0C0;
		text-shadow: 0px -1px 0px #334f71;
	}
		input::-webkit-input-placeholder{
			color: #BBD9EE;
		}

		input::-moz-placeholder{
			color: #BBD9EE;
		}

		.inputs p{
			margin-left: 20px;
		}
	textarea{
		width: 260px;
		height: 170px;
		padding: 12px 20px 0px 20px;
		margin: 0 0 20px 0;
		background: #F1EFE2;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-ms-border-radius: 5px;
		box-shadow: 0px 1px 0px #f2f2f2;
		-moz-box-shadow: 0px 1px 0px #f2f2f2;
		-webkit-box-shadow: 0px 1px 0px #f2f2f2;
		-ms-box-shadow: 0px 1px 0px #f2f2f2;
		font-family: $font-family;
		color: #C0C0C0;
		text-shadow: 0px -1px 0px #334f71;
	}

		textarea::-webkit-input-placeholder{
			color: #BBD9EE;
		}

		textarea::-moz-placeholder{
			color: #BBD9EE;
		}

	input:focus, textarea:focus{
		background: #E7E4D3;
	}

	input[type=submit]{
		position: relative;
		color: #BBD9EE;
		width: 185px;
		height: 52px;
		float: right;
		padding: 10px 15px;
		margin: 0 15px 0px 0;
		border: 1px solid #E7E4D3;
		box-shadow: 0px 0px #999;
		-webkit-box-shadow: 0px 0px #999;
		-moz-box-shadow: 0px 0px #999;
		-ms-box-shadow: 0px 0px #999;
		cursor: pointer;

	}

// .field_with_errors .message {
//     color: #D00;
//     padding-left: 5px;
//     font-size: 12px;
// }

	.inputs{
			width: columns(2);
			position: absolute;
		   box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),  
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);

	}


// ##### Admit Section  ########


.admin_sign_in{
	float: left;
	margin-left: 115px;
	margin-bottom: 25px;
}

