body { padding: 0 1em; margin: 0; background-color: #FAFAFA; }
footer {
			padding-top: 10px;
			height: 20px;
			background: -webkit-gradient(linear, left top, right top, from(#c90d0d), to(#562727));
			background: -webkit-linear-gradient(left, #562727, #c90d0d);
			background: -moz-linear-gradient(left, #562727, #c90d0d);
			background: -ms-linear-gradient(left, #562727, #c90d0d);
			background: -o-linear-gradient(left, #562727, #c90d0d);
}
.container { width: 100%; max-width: $max-width; margin: 0 auto; padding: 0; }

// Elements acting like rows 
footer,
.nav_bar,
.link_tiles_top,
.link_tiles_bottom,
.about_me_header,
.current_projects_header,
.resume_header,
.contact_header{
	@include row;
}

// Global SASS

ul{
	display: inline; 
	list-style-type: none;
}

.resume_red p{
	 	display: none;
    position: absolute;
    margin: 0px;
   	padding: 0px;
   	font: times;
   	color: blue;
   	margin-top: 5px;
}

.nav_bar p{
	margin: 0%;
	padding-left: 0.5em;
}

.nav_bar{
	color: white;
	width: columns(6); 
	font-family: $font-family;
	font-size: 1.5em;
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#c90d0d), to(#562727));
	background: -webkit-radial-gradient(circle, #c90d0d, #562727);
	background: -moz-radial-gradient(circle, #c90d0d, #562727);
	background: -ms-radial-gradient(circle, #c90d0d, #562727);
	border-radius: 2px 2px 2px 2px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
			-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
			box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;

}

.link_tiles{
	height: $vertical-measure * 20;
	border-width: medium;
  padding: 5em 1em 5em 1em; 
  background-color: #fff;
}

	.link_tiles_top{
		// padding-bottom: 111.3px;

	
		.resume_red{ 
			@include nesting;
			margin-left: 0px;
			margin-right: 180px;
			background: #fff;
			display: block;
			width: columns(1);
			height: 127.5px;
			padding: 10px;
			border-radius: 2px 2px 2px 2px;
			-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
			-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
			box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
			background: -webkit-gradient(linear, left top, right top, from(#c90d0d), to(#562727));
			background: -webkit-linear-gradient(left, #562727, #c90d0d);
			background: -moz-linear-gradient(left, #562727, #c90d0d);
			background: -ms-linear-gradient(left, #562727, #c90d0d);
			background: -o-linear-gradient(left, #562727, #c90d0d);
				

		.resume_white{
			// margin-top: 53.75px;
			background: #fff;
			background-image: url("computer-sketch2.png");
			background-position: center; 
   		background-repeat: no-repeat;
			display: block;
			width: columns(4.445);
			height: 127.5px;
			padding: 10px;
			border-radius: 2px 2px 2px 2px;
			-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
			-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
			box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
			position: relative;
			top: 53.75px;
			left: 105px; 
		}
		}

			.unknown_red{ 
			@include nesting;
			margin-left: 0px;
			background: #fff;
			display: block;
			width: columns(1);
			height: 127.5px;
			padding: 10px;
			border-radius: 2px 2px 2px 2px;
			-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
			-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
			box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
			background: -webkit-gradient(linear, left top, right top, from(#c90d0d), to(#562727));
			background: -webkit-linear-gradient(left, #562727, #c90d0d);
			background: -moz-linear-gradient(left, #562727, #c90d0d);
			background: -ms-linear-gradient(left, #562727, #c90d0d);
			background: -o-linear-gradient(left, #562727, #c90d0d);
				

		.unknown_white{
			background: #fff;
			background-image: url("resume.png");
			background-position: center; 
   		background-repeat: no-repeat;
			display: block;
			width: columns(4.445);
			height: 127.5px;
			padding: 10px;
			border-radius: 2px 2px 2px 2px;
			-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
			-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
			box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
			position: relative;
			top: 53.75px;
			left: 105px; 
		}
	}



	}

	.link_tiles_bottom {
		margin-top: 111.3px;

		.git_red{ 
			@include nesting;
			margin-left: 210px;
			margin-right:180px;	
			background: #fff;
			display: block;
			width: columns(1);
			height: 127.5px;
			padding: 10px;
			border-radius: 2px 2px 2px 2px;
			-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
			-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
			box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
			background: -webkit-gradient(linear, left top, right top, from(#c90d0d), to(#562727));
			background: -webkit-linear-gradient(left, #562727, #c90d0d);
			background: -moz-linear-gradient(left, #562727, #c90d0d);
			background: -ms-linear-gradient(left, #562727, #c90d0d);
			background: -o-linear-gradient(left, #562727, #c90d0d);
				

		.git_white{
			background: #fff;
			display: block;
			width: columns(4.445);
			height: 127.5px;
			padding: 10px;
			border-radius: 2px 2px 2px 2px;
			-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
			-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
			box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
			position: relative;
			top: 53.75px;
			left: 105px;  
			}
		}

			.about_me_red{ 
				margin-right: 105px;
				background: #fff;
				display: block;
				@include nesting;
				width: columns(1.02);
				height: 127.5px;
				padding: 10px;
				border-radius: 2px 2px 2px 2px;
				-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
				-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
				box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
				background: -webkit-gradient(linear, left top, right top, from(#c90d0d), to(#562727));
				background: -webkit-linear-gradient(left, #562727, #c90d0d);
				background: -moz-linear-gradient(left, #562727, #c90d0d);
				background: -ms-linear-gradient(left, #562727, #c90d0d);
				background: -o-linear-gradient(left, #562727, #c90d0d);
			

			.about_me_white{
				background: #fff;
				background-image: url("about_me.png");
				background-position: bottom right; 
   			background-repeat: no-repeat;
				display: block;
				width: columns(4.445);
				height: 127.5px;
				padding: 10px;
				border-radius: 2px 2px 2px 2px;
				-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
				-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
				box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
				position: relative;
				top: 53.75px;
				left: 105px; 
			}
			}

	}

	.about_me_header{
	color: #562727;
	width: columns(6); 
	font-family: $font-family;
	font-size: 1.5em;
	border-width: 5px;
	border-color: #562727;
	border-radius: 2px 2px 2px 2px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	}

	.about_me_header p{
	margin: 0%;
	padding-left: 0.5em;
	padding-bottom: 33px;
	padding-top: 33px;
	}

	.about_me_div{
		height: $vertical-measure * 20;
	border-width: medium;
  padding: 5em 1em 5em 1em; 
  background-color: #fff;

	}


	.current_projects_header{
	color: #562727;
	width: columns(6); 
	font-family: $font-family;
	font-size: 1.5em;
	border-width: 5px;
	border-color: #562727;
	border-radius: 2px 2px 2px 2px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	}

	.current_projects_header p{
		margin: 0%;
		padding-left: 0.5em;
		padding-bottom: 33px;
		padding-top: 33px;
		}

	.current_projects_div{
		height: $vertical-measure * 20;
	border-width: medium;
  padding: 5em 1em 5em 1em; 
  background-color: #fff;

	}


	.resume_header{
	color: #562727;
	width: columns(6); 
	font-family: $font-family;
	font-size: 1.5em;
	border-width: 5px;
	border-color: #562727;
	border-radius: 2px 2px 2px 2px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	}

	.resume_header p{
		margin: 0%;
		padding-left: 0.5em;
		padding-bottom: 33px;
		padding-top: 33px;
		}

	.resume_div{
	height: $vertical-measure * 20;
	border-width: medium;
  padding: 5em 1em 5em 1em; 
  background-color: #fff;

	}

	.contact_header{
	color: #562727;
	width: columns(6); 
	font-family: $font-family;
	font-size: 1.5em;
	border-width: 5px;
	border-color: #562727;
	border-radius: 2px 2px 2px 2px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	}

	.contact_header p{
		margin: 0%;
		padding-left: 0.5em;
		padding-bottom: 33px;
		padding-top: 33px;
		}

	.contact_div{
	height: $vertical-measure * 20;
	border-width: medium;
  padding: 5em 1em 5em 1em; 
  background-color: #fff;

	}