body {
  font-family: "Signika Negative", sans-serif, times;
  line-height: 1.375; }

h2 {
  font-size: 1.5em;
  line-height: 3.1;
  margin-bottom: -0.32em; }

body {
  padding: 0 1em;
  margin: 0;
  background-color: #FAFAFA; }

footer {
  padding-top: 10px;
  height: 20px;
  background-color: #E7E4D3; }

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0; }

footer,
.nav_bar,
.link_tiles_top,
.link_tiles_bottom,
#about_me_header,
#current_projects_header,
#resume_header,
#contact_header,
.project_row_keeper,
.projects_list,
.project_description,
.resume_row_keeper,
.submit {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  zoom: 1;
  padding: 0; }
  footer:before, footer:after,
  .nav_bar:before,
  .nav_bar:after,
  .link_tiles_top:before,
  .link_tiles_top:after,
  .link_tiles_bottom:before,
  .link_tiles_bottom:after,
  #about_me_header:before,
  #about_me_header:after,
  #current_projects_header:before,
  #current_projects_header:after,
  #resume_header:before,
  #resume_header:after,
  #contact_header:before,
  #contact_header:after,
  .project_row_keeper:before,
  .project_row_keeper:after,
  .projects_list:before,
  .projects_list:after,
  .project_description:before,
  .project_description:after,
  .resume_row_keeper:before,
  .resume_row_keeper:after,
  .submit:before,
  .submit:after {
    content: "";
    display: table; }
  footer:after,
  .nav_bar:after,
  .link_tiles_top:after,
  .link_tiles_bottom:after,
  #about_me_header:after,
  #current_projects_header:after,
  #resume_header:after,
  #contact_header:after,
  .project_row_keeper:after,
  .projects_list:after,
  .project_description:after,
  .resume_row_keeper:after,
  .submit:after {
    clear: both; }
  footer > div,
  .nav_bar > div,
  .link_tiles_top > div,
  .link_tiles_bottom > div,
  #about_me_header > div,
  #current_projects_header > div,
  #resume_header > div,
  #contact_header > div,
  .project_row_keeper > div,
  .projects_list > div,
  .project_description > div,
  .resume_row_keeper > div,
  .submit > div {
    float: left;
    margin-right: 4.34783%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.flash {
  font-family: "Signika Negative", sans-serif, times;
  background-color: deep pink;
  color: blue; }

ul {
  display: inline;
  list-style-type: none; }

p {
  color: #206BA4;
  font-family: "Signika Negative", sans-serif, times; }

span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1; }

.nav_bar p {
  margin: 0%;
  padding-left: 0.5em; }

.nav_bar {
  color: #206BA4;
  width: 152.17391%;
  font-family: "Signika Negative", sans-serif, times;
  font-size: 1.5em;
  background-color: #E7E4D3;
  border-width: 5px;
  border-color: #206BA4;
  border-radius: 2px 2px 2px 2px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }

.link_tiles {
  height: 27.5em;
  border-width: medium;
  padding: 5em 1em 5em 1em;
  background-color: #fff; }

.link_tiles_top .resume_red p {
  display: none;
  position: absolute;
  margin: 0px;
  padding: 0px;
  font: "Signika Negative", sans-serif, times;
  color: #206BA4;
  margin-top: 5px; }
.link_tiles_top .resume_red {
  padding: 0;
  margin-left: 0px;
  margin-right: 180px;
  background: #fff;
  display: block;
  width: 21.73913%;
  height: 127.5px;
  padding: 10px;
  border-radius: 2px 2px 2px 2px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  background-color: #E7E4D3; }
  .link_tiles_top .resume_red > div {
    float: left;
    margin-right: 4.34783%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .link_tiles_top .resume_red .resume_white {
    background: #fff;
    background-image: url("computer-sketch2.png");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 111.6087%;
    height: 127.5px;
    padding: 10px;
    border-radius: 2px 2px 2px 2px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    position: relative;
    top: 53.75px;
    left: 105px; }
.link_tiles_top .unknown_red p {
  display: none;
  position: absolute;
  margin: 0px;
  padding: 0px;
  font: "Signika Negative", sans-serif, times;
  color: #206BA4;
  margin-top: 5px; }
.link_tiles_top .unknown_red {
  padding: 0;
  margin-left: 50px;
  background: #fff;
  display: block;
  width: 21.73913%;
  height: 127.5px;
  padding: 10px;
  border-radius: 2px 2px 2px 2px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  background-color: #E7E4D3; }
  .link_tiles_top .unknown_red > div {
    float: left;
    margin-right: 4.34783%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .link_tiles_top .unknown_red .unknown_white {
    background: #fff;
    background-image: url("resume.png");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 111.6087%;
    height: 127.5px;
    padding: 10px;
    border-radius: 2px 2px 2px 2px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    position: relative;
    top: 53.75px;
    left: 105px; }

.link_tiles_bottom {
  margin-top: 111.3px; }
  .link_tiles_bottom .git_red p {
    display: none;
    position: absolute;
    margin: 0px;
    padding: 0px;
    font: "Signika Negative", sans-serif, times;
    color: #206BA4;
    margin-top: 5px; }
  .link_tiles_bottom .git_red {
    padding: 0;
    margin-left: 210px;
    margin-right: 180px;
    background: #fff;
    display: block;
    width: 21.73913%;
    height: 127.5px;
    padding: 10px;
    border-radius: 2px 2px 2px 2px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    background-color: #E7E4D3; }
    .link_tiles_bottom .git_red > div {
      float: left;
      margin-right: 4.34783%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .link_tiles_bottom .git_red .git_white {
      background: #fff;
      background-image: url("mail_web.png");
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      width: 111.6087%;
      height: 127.5px;
      padding: 10px;
      border-radius: 2px 2px 2px 2px;
      -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      position: relative;
      top: 53.75px;
      left: 105px; }
  .link_tiles_bottom .about_me_red p {
    display: none;
    position: absolute;
    margin: 0px;
    padding: 0px;
    font: "Signika Negative", sans-serif, times;
    color: #206BA4;
    margin-top: 5px; }
  .link_tiles_bottom .about_me_red {
    margin-right: 105px;
    background: #fff;
    display: block;
    padding: 0;
    width: 22.26087%;
    height: 127.5px;
    padding: 10px;
    border-radius: 2px 2px 2px 2px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    background-color: #E7E4D3; }
    .link_tiles_bottom .about_me_red > div {
      float: left;
      margin-right: 4.34783%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .link_tiles_bottom .about_me_red .about_me_white {
      background: #fff;
      background-image: url("about_me.png");
      background-position: bottom right;
      background-repeat: no-repeat;
      display: block;
      width: 111.6087%;
      height: 127.5px;
      padding: 10px;
      border-radius: 2px 2px 2px 2px;
      -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      position: relative;
      top: 53.75px;
      left: 105px; }

#about_me_header {
  color: #206BA4;
  width: 152.17391%;
  font-family: "Signika Negative", sans-serif, times;
  font-size: 1.5em;
  border-width: 5px;
  border-color: #206BA4;
  border-radius: 2px 2px 2px 2px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }

.about_me_header p {
  margin: 0%;
  padding-left: 0.5em;
  padding-bottom: 33px;
  padding-top: 33px; }

.about_me_div {
  height: 27.5em;
  border-width: medium;
  padding: 5em 1em 5em 1em;
  background-color: #fff; }

#current_projects_header {
  color: #206BA4;
  width: 152.17391%;
  font-family: "Signika Negative", sans-serif, times;
  font-size: 1.5em;
  border-width: 5px;
  border-color: #206BA4;
  border-radius: 2px 2px 2px 2px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }

.current_projects_header p {
  margin: 0%;
  padding-left: 0.5em;
  padding-bottom: 33px;
  padding-top: 33px; }

.current_projects_div {
  height: 27.5em;
  border-width: medium;
  padding: 5em 1em 5em 1em;
  background-color: #fff; }

.ruby_div {
  width: 21.73913%;
  height: 100px;
  background-color: #EBF4FA;
  margin-left: 150px;
  margin-right: 40px;
  margin-bottom: 50px;
  border-radius: 2px 2px 2px 2px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }

.ruby_div p {
  font: "Signika Negative", sans-serif, times;
  font-size: 30px;
  padding-left: 65px;
  color: #206BA4; }

.ruby_on_rails_div {
  width: 21.73913%;
  height: 100px;
  background-color: #C0C0C0;
  margin-right: 40px;
  margin-bottom: 50px;
  border-radius: 2px 2px 2px 2px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }

.ruby_on_rails_div p {
  padding-left: 8px;
  font: "Signika Negative", sans-serif, times;
  color: #206BA4;
  font-size: 30px; }

.javaScript_div {
  width: 21.73913%;
  height: 100px;
  background-color: #F1EFE2;
  margin-bottom: 50px;
  margin-right: 100px;
  border-radius: 2px 2px 2px 2px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }

.javaScript_div p {
  padding-left: 30px;
  font: "Signika Negative", sans-serif, times;
  color: #206BA4;
  font-size: 30px; }

.projects_link {
  width: 21.73913%;
  text-decoration: none;
  color: #206BA4; }

.projects_list {
  border-color: #BBD9EE;
  border-width: 2px;
  height: auto;
  width: 47.82609%;
  font-family: "Signika Negative", sans-serif, times;
  text-align: center;
  color: #206BA4; }

.project_description {
  border-color: black;
  border-width: 2px;
  height: auto;
  width: 21.73913%;
  font-family: "Signika Negative", sans-serif, times;
  text-align: center;
  color: blue; }

#ruby_projects {
  width: 100%; }

#ruby_on_rails_projects {
  width: 100%; }

#javaScript_projects {
  width: 100%; }

#resume_header {
  color: #206BA4;
  width: 152.17391%;
  font-family: "Signika Negative", sans-serif, times;
  font-size: 1.5em;
  border-width: 5px;
  border-color: #206BA4;
  border-radius: 2px 2px 2px 2px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }

.resume_header p {
  margin: 0%;
  padding-left: 0.5em;
  padding-bottom: 33px;
  padding-top: 33px; }

.resume_div {
  height: 27.5em;
  border-width: medium;
  padding: 8em 1em 5em 1em;
  background-color: #fff; }

.linkedin_div {
  width: 47.82609%;
  margin-left: 30px;
  top: 20px; }

.resume_pdf {
  width: 21.73913%;
  margin-left: 80px; }

embed {
  margin-left: 300px; }

#contact_header {
  color: #206BA4;
  width: 152.17391%;
  font-family: "Signika Negative", sans-serif, times;
  font-size: 1.5em;
  border-width: 5px;
  border-color: #206BA4;
  border-radius: 2px 2px 2px 2px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }

.contact_header p {
  margin: 0%;
  padding-left: 0.5em;
  padding-bottom: 33px;
  padding-top: 33px; }

.contact_div {
  height: 27.5em;
  border-width: medium;
  padding: 4em 1em 6em 1em;
  background-color: #fff; }

label {
  color: #206BA4;
  float: left;
  clear: left;
  margin: 11px 20px 0 0;
  width: 95px;
  text-align: right;
  text-shadow: 0px 1px 0px #f2f2f2;
  font-size: 16px; }

input {
  width: 260px;
  height: 35px;
  padding: 5px 20px 0px 20px;
  margin: 0 0 20px 0;
  background: #F1EFE2;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  box-shadow: 0px 1px 0px #f2f2f2;
  -moz-box-shadow: 0px 1px 0px #f2f2f2;
  -webkit-box-shadow: 0px 1px 0px #f2f2f2;
  -ms-box-shadow: 0px 1px 0px #f2f2f2;
  font-family: "Signika Negative", sans-serif, times;
  color: #C0C0C0;
  text-transform: uppercase;
  text-shadow: 0px -1px 0px #334f71; }

input::-webkit-input-placeholder {
  color: #BBD9EE; }

input::-moz-placeholder {
  color: #BBD9EE; }

textarea {
  width: 260px;
  height: 170px;
  padding: 12px 20px 0px 20px;
  margin: 0 0 20px 0;
  background: #F1EFE2;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  box-shadow: 0px 1px 0px #f2f2f2;
  -moz-box-shadow: 0px 1px 0px #f2f2f2;
  -webkit-box-shadow: 0px 1px 0px #f2f2f2;
  -ms-box-shadow: 0px 1px 0px #f2f2f2;
  font-family: "Signika Negative", sans-serif, times;
  color: #C0C0C0;
  text-transform: uppercase;
  text-shadow: 0px -1px 0px #334f71; }

textarea::-webkit-input-placeholder {
  color: #BBD9EE; }

textarea::-moz-placeholder {
  color: #BBD9EE; }

input:focus, textarea:focus {
  background: #E7E4D3; }

input[type=submit] {
  position: relative;
  color: #BBD9EE;
  width: 185px;
  height: 52px;
  float: right;
  padding: 10px 15px;
  margin: 0 15px 0px 0;
  border: 1px solid #E7E4D3;
  box-shadow: 0px 0px #999;
  -webkit-box-shadow: 0px 0px #999;
  -moz-box-shadow: 0px 0px #999;
  -ms-box-shadow: 0px 0px #999;
  cursor: pointer; }

.inputs {
  width: 47.82609%;
  position: absolute;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2), 0 3px 0 white, 0 4px 0 rgba(0, 0, 0, 0.2), 0 6px 0 white, 0 7px 0 rgba(0, 0, 0, 0.2); }
