/*
Syntax error: Invalid CSS after "			height": expected ";", was ": 20px;"
        on line 4 of app/assets/stylesheets/global.scss
        from line 5 of app/assets/stylesheets/home_pages_controller.scss

1: body { padding: 0 1em; margin: 0; background-color: #FAFAFA; }
2: footer {
3: 			padding-top: 10pxl
4: 			height: 20px;
5: 			background: -webkit-gradient(linear, left top, right top, from(#c90d0d), to(#562727));
6: 			background: -webkit-linear-gradient(left, #562727, #c90d0d);
7: 			background: -moz-linear-gradient(left, #562727, #c90d0d);
8: 			background: -ms-linear-gradient(left, #562727, #c90d0d);
9: 			background: -o-linear-gradient(left, #562727, #c90d0d);

Backtrace:
app/assets/stylesheets/global.scss:4
app/assets/stylesheets/home_pages_controller.scss:5
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/scss/parser.rb:1147:in `expected'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/scss/parser.rb:1085:in `expected'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/scss/parser.rb:1080:in `tok!'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/scss/parser.rb:586:in `block in declaration_or_ruleset'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/scss/parser.rb:1123:in `call'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/scss/parser.rb:1123:in `rethrow'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/scss/parser.rb:554:in `block_child'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/scss/parser.rb:543:in `block_contents'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/scss/parser.rb:535:in `block'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/scss/parser.rb:553:in `block_child'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/scss/parser.rb:27:in `parse'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/engine.rb:342:in `_to_tree'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/engine.rb:274:in `to_tree'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/root_node.rb:20:in `render'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/engine.rb:315:in `_render'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/engine.rb:262:in `render'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:201:in `each'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:283:in `block in watch'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/vendor/listen/lib/listen/adapters/polling.rb:56:in `call'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/vendor/listen/lib/listen/adapters/polling.rb:56:in `poll'
/Users/alexfroelich/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/vendor/listen/lib/listen/adapters/polling.rb:32:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"			height\": expected \";\", was \": 20px;\"\A         on line 4 of app/assets/stylesheets/global.scss\A         from line 5 of app/assets/stylesheets/home_pages_controller.scss\A \A 1: body { padding: 0 1em; margin: 0; background-color: #FAFAFA; }\A 2: footer {\A 3: 			padding-top: 10pxl\A 4: 			height: 20px;\A 5: 			background: -webkit-gradient(linear, left top, right top, from(#c90d0d), to(#562727));\A 6: 			background: -webkit-linear-gradient(left, #562727, #c90d0d);\A 7: 			background: -moz-linear-gradient(left, #562727, #c90d0d);\A 8: 			background: -ms-linear-gradient(left, #562727, #c90d0d);\A 9: 			background: -o-linear-gradient(left, #562727, #c90d0d);"; }
