body {
  font-family: $font-family;
  line-height: $line-height;
}

// p {
//   margin: 1em 0em $vertical-measure 10px; // set bottom margin equal to line-height/vertical measure
//   font-size: 1em;
//   line-height: $line-height;
// }


h2 {
  font-size: 1.5em;
  line-height: 3.1; // tweak to align h2 to baseline within container
  margin-bottom: -0.32em; // tweak to align h2 to baseline within container
}