<h1> Ruby on Rails Projects </h1>


<div id = "ruby_on_rails_projects">
	<ul class= "project_ul">
		<% @projects.each do |project| %>
			<li><%=link_to "#{project.name}", ruby_on_rails_project_path(project.id), class: "single_project" %></li>
		<% end %>
	

	</ul>
</div>
